.icon-bitbasement-black { background-image: url('png/bitbasement-black.png'); background-repeat: no-repeat; }

.icon-bitbasement-white { background-image: url('png/bitbasement-white.png'); background-repeat: no-repeat; }

.icon-casadaarquitectura-white { background-image: url('png/casadaarquitectura-white.png'); background-repeat: no-repeat; }

.icon-chevron-down-white { background-image: url('png/chevron-down-white.png'); background-repeat: no-repeat; }

.icon-chevron-left-white { background-image: url('png/chevron-left-white.png'); background-repeat: no-repeat; }

.icon-chevron-right-white { background-image: url('png/chevron-right-white.png'); background-repeat: no-repeat; }

.icon-chevron-up-white { background-image: url('png/chevron-up-white.png'); background-repeat: no-repeat; }

.icon-logo-amag { background-image: url('png/logo-amag.png'); background-repeat: no-repeat; }

.icon-logo-antena1 { background-image: url('png/logo-antena1.png'); background-repeat: no-repeat; }

.icon-logo-atl { background-image: url('png/logo-atl.png'); background-repeat: no-repeat; }

.icon-logo-bitbasement { background-image: url('png/logo-bitbasement.png'); background-repeat: no-repeat; }

.icon-logo-buildingpictures { background-image: url('png/logo-buildingpictures.png'); background-repeat: no-repeat; }

.icon-logo-canal180 { background-image: url('png/logo-canal180.png'); background-repeat: no-repeat; }

.icon-logo-casadaarquitectura { background-image: url('png/logo-casadaarquitectura.png'); background-repeat: no-repeat; }

.icon-logo-cmlisboa { background-image: url('png/logo-cmlisboa.png'); background-repeat: no-repeat; }

.icon-logo-dgartes { background-image: url('png/logo-dgartes.png'); background-repeat: no-repeat; }

.icon-logo-dizplay { background-image: url('png/logo-dizplay.png'); background-repeat: no-repeat; }

.icon-logo-drcn { background-image: url('png/logo-drcn.png'); background-repeat: no-repeat; }

.icon-logo-egeac { background-image: url('png/logo-egeac.png'); background-repeat: no-repeat; }

.icon-logo-fgsg { background-image: url('png/logo-fgsg.png'); background-repeat: no-repeat; }

.icon-logo-fsh { background-image: url('png/logo-fsh.png'); background-repeat: no-repeat; }

.icon-logo-fundacaoedp { background-image: url('png/logo-fundacaoedp.png'); background-repeat: no-repeat; }

.icon-logo-fundacaojuventude { background-image: url('png/logo-fundacaojuventude.png'); background-repeat: no-repeat; }

.icon-logo-infraestruturasportugal { background-image: url('png/logo-infraestruturasportugal.png'); background-repeat: no-repeat; }

.icon-logo-interiordirectory { background-image: url('png/logo-interiordirectory.png'); background-repeat: no-repeat; }

.icon-logo-jofebar { background-image: url('png/logo-jofebar.png'); background-repeat: no-repeat; }

.icon-logo-openhouseworldwide { background-image: url('png/logo-openhouseworldwide.png'); background-repeat: no-repeat; }

.icon-logo-refer { background-image: url('png/logo-refer.png'); background-repeat: no-repeat; }

.icon-logo-roca { background-image: url('png/logo-roca.png'); background-repeat: no-repeat; }

.icon-logo-rtp { background-image: url('png/logo-rtp.png'); background-repeat: no-repeat; }

.icon-logo-rtp1 { background-image: url('png/logo-rtp1.png'); background-repeat: no-repeat; }

.icon-logo-sec { background-image: url('png/logo-sec.png'); background-repeat: no-repeat; }

.icon-logo-trienal { background-image: url('png/logo-trienal.png'); background-repeat: no-repeat; }

.icon-menu-close-black { background-image: url('png/menu-close-black.png'); background-repeat: no-repeat; }

.icon-menu-close-white { background-image: url('png/menu-close-white.png'); background-repeat: no-repeat; }

.icon-menu-hamburger-black { background-image: url('png/menu-hamburger-black.png'); background-repeat: no-repeat; }

.icon-menu-hamburger-white { background-image: url('png/menu-hamburger-white.png'); background-repeat: no-repeat; }

.icon-ohl-black { background-image: url('png/ohl-black.png'); background-repeat: no-repeat; }

.icon-ohl-white { background-image: url('png/ohl-white.png'); background-repeat: no-repeat; }

.icon-ohp-greenbg { background-image: url('png/ohp-greenbg.png'); background-repeat: no-repeat; }

.icon-ohp-purplebg { background-image: url('png/ohp-purplebg.png'); background-repeat: no-repeat; }

.icon-ohp-white { background-image: url('png/ohp-white.png'); background-repeat: no-repeat; }

.icon-ohp-whitebg { background-image: url('png/ohp-whitebg.png'); background-repeat: no-repeat; }

.icon-openhouseworldwide-white { background-image: url('png/openhouseworldwide-white.png'); background-repeat: no-repeat; }

.icon-picto-maxpeople { background-image: url('png/picto-maxpeople.png'); background-repeat: no-repeat; }

.icon-picto-photography-no { background-image: url('png/picto-photography-no.png'); background-repeat: no-repeat; }

.icon-picto-photography-yes { background-image: url('png/picto-photography-yes.png'); background-repeat: no-repeat; }

.icon-picto-reservations-no { background-image: url('png/picto-reservations-no.png'); background-repeat: no-repeat; }

.icon-picto-reservations-yes { background-image: url('png/picto-reservations-yes.png'); background-repeat: no-repeat; }

.icon-picto-universalaccess-no { background-image: url('png/picto-universalaccess-no.png'); background-repeat: no-repeat; }

.icon-picto-universalaccess-yes { background-image: url('png/picto-universalaccess-yes.png'); background-repeat: no-repeat; }

.icon-social-email-white { background-image: url('png/social-email-white.png'); background-repeat: no-repeat; }

.icon-social-facebook-white { background-image: url('png/social-facebook-white.png'); background-repeat: no-repeat; }

.icon-social-instagram-white { background-image: url('png/social-instagram-white.png'); background-repeat: no-repeat; }

.icon-social-pinterest-white { background-image: url('png/social-pinterest-white.png'); background-repeat: no-repeat; }

.icon-social-twitter-white { background-image: url('png/social-twitter-white.png'); background-repeat: no-repeat; }

.icon-tagline-en { background-image: url('png/tagline-en.png'); background-repeat: no-repeat; }

.icon-tagline-pt { background-image: url('png/tagline-pt.png'); background-repeat: no-repeat; }

.icon-trienal-black { background-image: url('png/trienal-black.png'); background-repeat: no-repeat; }

.icon-trienal-white { background-image: url('png/trienal-white.png'); background-repeat: no-repeat; }

